#basketballgame{
	width:1000px;
	height: 600px;
	background-color: white;
	position: relative;
}

#clicky{
	width: 100px;
	height: 60px;
}

#basketball{
	width:60px;
	height: 60px;
	border-radius: 50px;
	background-color: orange;
	position: absolute;
	bottom: 20px;
}

#backboard{
	width: 40px;
	height: 100px;
	background-color: grey;
	position: absolute;
	top: 50px;
	right:20px;

}

#hoop{
	width:105px;
	height: 10px;
	background-color: orange;
	position: absolute;
	top:150px;
	right:40px;
}

#pole{
	width: 20px;
	height: 375px;
	background-color: black;
	position: absolute;
	top: 150px;
	right:20px;
}

#base{
	height: 10px;
	width:75px;
	background-color: black;
	position: absolute;
	right: 20px;
	top:525px;
}